<div class="row">
    <div class="col s12" style="margin-bottom: 1rem">
        <h3>
            <% if(ad.price != 0) { %>
                <%= ad.price %> CUC -
            <% } %>
            <%= ad.title %>
        </h3>

        <% if(ad.image) { %>
            <img class="responsive-img" src="{{APP_IMAGE_PATH}}<%= ad.image %>" alt="<%= ad.image %>"/>
        <% } %>

        <p><%- ad.description %></p>

        <ul class="collection one-line">
            <li class="collection-item avatar">
                <i class="far fa-newspaper circle"></i>
                <span class="title"><%= moment(ad.publishDate).format('D [de] MMMM, YYYY h:mm A') %></span>
                <p class="blue-grey-text">Fecha de publicación</p>
            </li>

            <% if(ad.name) { %>
                <li class="collection-item avatar">
                    <i class="tiny material-icons circle">person</i>
                    <span class="title"><%= ad.name %></span>
                    <p class="blue-grey-text">Autor</p>
                </li>
            <% } %>

            <% ad.email.forEach(function(email) { %>
                <li class="collection-item avatar">
                    <i class="tiny material-icons circle">email</i>
                    <span class="title"><%= email %></span>
                    <p class="blue-grey-text">Email</p>
                </li>
            <% }) %>

            <% ad.phone.forEach(function(phone) { %>
                <% if(phone){ %>
                    <li class="collection-item avatar">
                        <i class="tiny material-icons circle">phone</i>
                        <span class="title"><%= phone %></span>
                        <p class="blue-grey-text">Número</p>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    </div>

    <div class="fixed-action-btn" onclick="searchData('<%= q %>')">
        <a class="btn-floating btn-large">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>
</div>
