<div class="row">
    <div class="col input-field outline search-field">
        <i class="material-icons" onclick="sendData()">search</i>
        <input id="q" type="text" class="search-input" onkeyup="validate()" value="<%= q %>"/>
        <label for="q">Buscar</label>

    </div>   
</div>
<div class="col s12">
        <% for(var i = 0; i < results.length; i++) { %>

            <div class="col s12 search-result" style="margin-bottom: 10px;">
                <span class="result-date"><%= results[i].publish_date %></span>
                <br>
                <% if(results[i].image_urls) { %>
                <img src="<%=results[i].image_urls[0]%>" class="result-thumb">

               <% } %>
                <a class="result-title" onclick="showDetail(<%= JSON.stringify(results[i].id) %>)" style="cursor:pointer;">
                    <% if(results[i].price != 0) { %>
                        <%= results[i].price %> CUC -
                    <% } %>
                    <%= results[i].title %>
                </a>

                <p class="result-desc"><%= results[i].short_description %></p>
                <small class="result-url"><%= results[i].site %></small>
            </div>
        <% } %>
    </div>