<div class="row">
	<div class="col input-field outline search-field">
		<i class="material-icons" onclick="sendData()">search</i>
		<input id="q" type="text" class="search-input" onkeyup="validate()" value="<%= q %>"/>
		<label for="q">Buscar</label>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<% results.forEach(function(item){ %>
			<div class="col s12 search-result" style="margin-bottom: 10px;">
				<span class="result-date"><%= item.publishedDate %></span>
				<br>
				<% if(item.hasImages) { %>
					<img src="{{APP_SERVICE_PATH}}/images/img.png" alt="Tiene foto" class="result-thumb">
				<% } %>
				<a class="result-title" href="#!" onclick="showDetails('<%= item.id %>','<%= q %>')">
					<% if(item.price != 0) { %>
						<%= item.price %> CUC -
					<% } %>
					<%= item.title %>
				</a>
				<p class="result-desc"><%= item.shortDesc %></p>
				<small class="result-url"><%= item.site %></small>
			</div>
		<% }) %>
	</div>
</div>
